# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/sqciaqth/tapcard.mamtastationery.com"
PassengerBaseURI "/"
PassengerNodejs "/home/sqciaqth/nodevenv/tapcard.mamtastationery.com/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/sqciaqth/tapcard.mamtastationery.com"
PassengerBaseURI "/"
PassengerNodejs "/home/sqciaqth/nodevenv/tapcard.mamtastationery.com/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv NODE_ENV production
SetEnv NEXT_PUBLIC_API_URL https://tapcard.mamtastationery.com/backend/public
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END